<template>
    <div class="main">
        <vue-progress-bar></vue-progress-bar>
        <div class="row no-gutters">
            <div class="side-nav">
                <a class="navbar-brand" href="/">
                    <img src="frontend-assets/map-site/img/logo-badung.png">
                </a>
                <div class="navbar-links"></div>
            </div>
            <div class="content-area">
                <div class="map-sec" id="map-sec">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <l-map
                                :zoom="zoom"
                                :center="center"
                                :options="{scrollWheelZoom: false}"
                                class="leaflet-map"
                            >
                                <l-control-layers position="topleft"></l-control-layers>
                                <!-- <l-tile-layer
                                    :url="url"
                                    :attribution="attribution"
                                /> -->
                                <l-tile-layer
                                    v-for="tileProvider in tileProviders"
                                    :key="tileProvider.name"
                                    :name="tileProvider.name"
                                    :visible="tileProvider.visible"
                                    :url="tileProvider.url"
                                    :attribution="tileProvider.attribution"
                                    layer-type="base"
                                />
                                <l-geo-json
                                    :geojson="geojson"
                                    :options="options"
                                    :options-style="styleFunction"
                                >
                                </l-geo-json>
                                <l-control position="topright">
                                    <span id="toggle-btn-right" class="toggle-btn-right" onclick="openNav()">
                                        <i class="fa fa-info-circle fa-3x" style="color: #0178a8;"></i>
                                    </span>
                                    <div id="rightSideNav" class="right-sidenav">
                                        <form id="search_form" action="javascript:void(0)" @submit="fetchFilterSearch" method="post">
                                            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                            <div class="content-count">
                                                <h3 class="content-text-size-large">Jumlah Data</h3>
                                                <h4 class="content-text-size-huge">{{ state.count_data}}</h4>
                                            </div>
                                            <hr>
                                            <div class="blog-content">
                                                <div class="cat_sec">
                                                    <h3 class="content-text-size-large content-point" data-toggle="collapse" href="#collapseStatus" role="button" aria-expanded="false" aria-controls="collapseStatus">
                                                        <i class="fa fa-exchange-alt"></i>
                                                        Filter Status
                                                    </h3>
                                                    <div class="collapse" id="collapseStatus">
                                                        <div class="card card-body">
                                                            <ul>
                                                                <li v-for="data_status in state.status" :key="data_status.index">
                                                                    <a @click="fetchFilterScope(data_status.status, null, null, null)">
                                                                        <i class="fa fa-asterisk"></i>
                                                                        {{ data_status.status }}
                                                                    </a>
                                                                    <p>{{ data_status.jumlah_status }}</p>
                                                                </li>
                                                                <li>
                                                                    <a @click="fetchSpatialData">
                                                                        <i class="fa fa-redo-alt"></i>
                                                                        Tampilkan Semua Data
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="blog-content">
                                                <div class="cat_sec">
                                                    <h3 class="content-text-size-large content-point" data-toggle="collapse" href="#collapseBanjar" role="button" aria-expanded="false" aria-controls="collapseBanjar">
                                                        <i class="fa fa-map-marked-alt"></i>
                                                        Filter Banjar
                                                    </h3>
                                                    <div class="collapse" id="collapseBanjar">
                                                        <div class="card card-body">
                                                            <ul>
                                                                <li v-for="data_banjar in state.banjar" :key="data_banjar.index">
                                                                    <a @click="fetchFilterScope(null, data_banjar.banjar, null, null)">
                                                                        <i class="fa fa-asterisk"></i>
                                                                        {{ data_banjar.banjar }}
                                                                    </a>
                                                                    <p>{{ data_banjar.jumlah_banjar }}</p>
                                                                </li>
                                                                <li>
                                                                    <a @click="fetchSpatialData">
                                                                        <i class="fa fa-redo-alt"></i>
                                                                        Tampilkan Semua Data
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="blog-content">
                                                <div class="cat_sec">
                                                    <h3 class="content-text-size-large content-point" data-toggle="collapse" href="#collapseBPAJB" role="button" aria-expanded="false" aria-controls="collapseBPAJB">
                                                        <i class="fa fa-money-check"></i>
                                                        Filter Rt/Rw
                                                    </h3>
                                                    <div class="collapse" id="collapseBPAJB">
                                                        <div class="card card-body">
                                                            <ul>
                                                                <li v-for="data_rtrw in state.rtrw" :key="data_rtrw.index">
                                                                    <a @click="fetchFilterScope(null, null, data_rtrw.rtrw, null)">
                                                                        <i class="fa fa-asterisk"></i>
                                                                        {{ data_rtrw.rtrw }}
                                                                    </a>
                                                                    <p>{{ data_rtrw.jumlah_rtrw }}</p>
                                                                </li>
                                                                <li>
                                                                    <a @click="fetchSpatialData">
                                                                        <i class="fa fa-redo-alt"></i>
                                                                        Tampilkan Semua Data
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="blog-content">
                                                <div class="cat_sec">
                                                    <h3 class="content-text-size-large content-point" data-toggle="collapse" href="#collapseNJOP" role="button" aria-expanded="false" aria-controls="collapseNJOP">
                                                        <i class="fa fa-money-check-alt"></i>
                                                        Filter Nilai ZNT
                                                    </h3>
                                                    <div class="collapse" id="collapseNJOP">
                                                        <div class="card card-body">
                                                            <ul>
                                                                <li v-for="data_znt in state.znt" :key="data_znt.index">
                                                                    <a @click="fetchFilterScope(null, null, null, data_znt.nilai_znt)">
                                                                        <i class="fa fa-asterisk"></i>
                                                                        {{ data_znt.nilai_znt }}
                                                                    </a>
                                                                    <p>{{ data_znt.jumlah_znt }}</p>
                                                                </li>
                                                                <li>
                                                                    <a @click="fetchSpatialData">
                                                                        <i class="fa fa-redo-alt"></i>
                                                                        Tampilkan Semua Data
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="blog-content">
                                                <div class="cat_sec">
                                                    <h3 class="content-text-size-large content-point" data-toggle="collapse" href="#collapseNamaNIK" role="button" aria-expanded="false" aria-controls="collapseNamaNIK">
                                                        <i class="fa fa-id-card"></i>
                                                        Filter Nama / NIK / NOP / NIB
                                                    </h3>
                                                    <div class="collapse" id="collapseNamaNIK">
                                                        <div class="card card-body">
                                                            <span class="clearable">
                                                                <input type="text" placeholder="Masukkan Nama / NIK / NOP / NIB" v-model="state_post.nama_nik_nop_nib">
                                                                <i class="clearable__clear">&times;</i>
                                                            </span>
                                                            <button class="btn black-btn user-contact contact_btn" type="submit">Kirim</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </l-control>
                            </l-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {APP_URL_BASE} from './Config/config'
export default {
    name: 'Index-Map',
    data() {
        return {
            attribution:
                'Tanah Desa Punggul &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            center: [-8.5034572, 115.2243619],
            geojson: null,
            state: {
                count_data: '',
                status: '',
                banjar:'',
                rtrw: '',
                znt: ''
            },
            state_post: {
                nama_nik_nop_nib: '',
                njop: '',
                rtrw: '',
                znt: ''
            },
            tileProviders: [
                {
                    name: 'OpenStreetMap',
                    visible: true,
                    url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                    attribution:
                        'Tanah Desa Punggul &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
                },
                {
                    name: 'OpenTopoMap',
                    visible: false,
                    url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
                    attribution:
                        'Tanah Desa Punggul: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
                },
                {
                    name: 'CartoDB.Voyager',
                    visible: false,
                    url: 'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
                    attribution:
                        'Tanah Desa Punggul: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                },
                {
                    name: 'CartoDB.VoyagerLabelsUnder',
                    visible: false,
                    url: 'https://{s}.basemaps.cartocdn.com/rastertiles/voyager_labels_under/{z}/{x}/{y}{r}.png',
                    attribution:
                        'Tanah Desa Punggul: &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
                },
                {
                    name: 'Esri.WorldImagery',
                    visible: false,
                    url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
                    attribution:
                        'Tanah Desa Punggul: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> | Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community',
                },
            ],
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            zoom: 14,
        }
    },
    created() {
        this.fetchSpatialData()
    },
    methods: {
        finish () {
            this.$Progress.finish()
        },
        fail () {
            this.$Progress.fail()
        },
        fetchSpatialData() {
            this.start()
            let urlspatial = `${APP_URL_BASE}/data-outlets`
            axios.get(urlspatial)
                .then(response => {
                    const spatial_data = response.data
                    this.geojson = spatial_data
                    this.state.count_data = response.data.count_data
                    this.state.status = response.data.data_status
                    this.state.banjar = response.data.data_banjar
                    this.state.rtrw = response.data.data_rtrw
                    this.state.znt = response.data.data_znt
                    this.finish()
                })
                .catch(error => {
                    this.fail()
                    console.log(error)
                })
        },
        fetchFilterScope(filter_status, filter_banjar, filter_rtrw, filter_znt) {
            this.start()
            let urlfilter = `${APP_URL_BASE}/filter-outlets`
            const paramsHeader = {
                headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                }}
            axios.post(urlfilter, {
                    banjar: filter_banjar,
                    status: filter_status,
                    rtrw: filter_rtrw,
                    znt: filter_znt
                },
                paramsHeader)
                .then(response => {
                    const spatial_data = response.data
                    this.geojson = spatial_data
                    this.state.count_data = response.data.count_data
                    this.finish()
                })
                .catch(error => {
                    this.fail()
                    console.log(error)
                })
        },
        fetchFilterSearch(e) {
            this.start()
            e.preventDefault()
            let currentObj = this
            let urlsearch = `${APP_URL_BASE}/filter-outlets`
            const paramsHeader = {
                headers:{
                    'Accept':'application/json',
                    'Content-Type':'application/json'
                }}
            axios.post(urlsearch, this.state_post, {paramsHeader})
                .then(response => {
                    const spatial_data = response.data
                    this.geojson = spatial_data
                    this.state.count_data = response.data.count_data
                    this.finish()
                })
                .catch(error => {
                    this.fail()
                    console.log(error)
                })
        },
        randomColor() {
            let letters = '0123456789ABCDEF'
            let color = '#'
            let i = 0
            for(i; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            
            return color;
        },
        start() {
            this.$Progress.start()
        }
    },
    computed: {
        options() {
            return {
                onEachFeature: this.onEachFeatureFunction
            }
        },
        styleFunction() {
            return (feature) => {
                if(feature.properties.banjar == 'BR KELODAN'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#49a013",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'BR PADANG'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#0b195b",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'BR TEGUAN'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#19d2b3",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'BR TENGAH'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#d7c419",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'BR TRINADI'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#d77519",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'BR BENGAWAN' || feature.properties.banjar == 'BR. BENGAWAN'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#19a7d7",
                        fillOpacity: 1,
                    }
                }
                if(feature.properties.banjar == 'DILUAR BATAS DESA'){
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#d71919",
                        fillOpacity: 1,
                    }
                }
                else{
                    return {
                        weight: 2,
                        color: "#000000",
                        opacity: 0.4,
                        fillColor: "#9119d7",
                        // fillColor: this.randomColor(),
                        fillOpacity: 1,
                    }
                }
            }
        },
        onEachFeatureFunction() {
            return (feature, layer) => {
                layer.bindPopup(
                    "<div class='content-center'>DATA PEMILIK TANAH</div><div class='content-over'>Nama: <b>" +
                        feature.properties.nama_wp +
                    "</b></div><div class='content-over'>NIK: <b>" +
                        feature.properties.nik +
                    "</b></div><div class='content-over'>Alamat Lengkap: <b>" +
                        feature.properties.alamat_op + ", "+feature.properties.alamat_wp +
                    "</b></div><div class='content-over'>Kabupaten: <b>" +
                        feature.properties.kabupaten +
                    "</b></div><div class='content-over'>Kecamatan: <b>" +
                        feature.properties.kecamatan +
                    "</b></div><div class='content-over'>Desa: <b>" +
                        feature.properties.desa +
                    "</b></div><div class='content-over'>Banjar: <b>" +
                        feature.properties.banjar +
                    "</b></div><div class='content-over'>Rt/Rw: <b>" +
                        feature.properties.rtrw +
                    "</b></div><div class='content-over'>Status: <b style='font-size: 14px;color:"+feature.properties.color_font+"'>" +
                        feature.properties.status +
                    "</b></div><hr class='custom'><div class='content-center'>DATA TANAH</div><div class='mobile-responsive'><div class='table-responsive'><table class='table'><thead class='thead-dark'><tr><th scope='col'>NJOP</th><th scope='col'>BPAJB</th><th scope='col'>NIB</th><th scope='col'>NOP</th><th scope='col'>Nilai ZNT</th><th scope='col'>SU</th><th scope='col'>Luas ZHT</th><th scope='col'>Luas SPPT</th></tr></thead><tbody><tr><th>" +
                        feature.properties.njop + "</th><th>" +
                        feature.properties.bpajb + "</th><th>" +
                        feature.properties.nib + "</th><th>" +
                        feature.properties.nop + "</th><th>" +
                        feature.properties.nilai_znt + "</th><th>" +
                        feature.properties.su + "</th><th>" +
                        feature.properties.luas_shat + "</th><th>" +
                        feature.properties.luas_sppt + "</th></tr></tbody></table></div></div>",
                    { 
                        maxWidth : 415,
                        permanent: false,
                        sticky: true
                    }
                )
            }
        }
    },
}
</script>