<template>
    <div class="main">
        <div class="row no-gutters">
            <div class="side-nav">
                <a class="navbar-brand" href="/">
                    <img src="frontend-assets/map-site/img/logo-badung.png">
                </a>
                <div class="navbar-links">
                    <ul class="side-nav-icons">
                        <li>
                            <a class="toggle-btn" id="sidemenu_toggle">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="upper-nav d-block d-md-none" style="background-color: #000000;padding: 8px 0;">
                <nav class="navbar">
                    <a class="navbar-brand" href="/">
                        <img src="frontend-assets/map-site/img/logo-badung.png"></a>
                        <ul class="navbar-nav ml-auto">
                            <li>
                                <a href="#" class="toggle-btn upper-nav-btn white-bg">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </a>
                            </li>
                        </ul>
                </nav>
            </div>
            <div class="side-menu hidden">
                <div class="inner-wrapper">
                    <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                    <nav class="side-nav-menu w-100">
                        <ul class="navbar-nav pl-2rem">
                        <!-- <ul class="navbar-nav"> -->
                            <li class="nav-item">
                                <a class="nav-link scroll" href="/">Beranda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link scroll" href="#">Statistik</a>
                            </li>
                        </ul>
                    </nav>
    
                    <div class="side-footer pl-2rem w-100">
                    <!-- <div class="side-footer w-100"> -->
                        <p class="rites">&copy; 2020 Immortal Solutions Bali</p>
                    </div>
                </div>
            </div>
            <div class="content-area">
                <div class="map-sec" id="map-sec">
                    <div class="row no-gutters">
                        <div class="col-12">
                            <!-- <iframe width="100%" height="640" frameborder="0" src="https://chandrayana-paq.carto.com/builder/0ca52e89-84f6-4f3a-8290-143f17026fa5/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe> -->
                            <l-map
                                :zoom="zoom"
                                :center="center"
                                class="leaflet-map"
                            >
                                <l-tile-layer
                                    :url="url"
                                    :attribution="attribution"
                                />
                                <l-geo-json
                                    :geojson="geojson"
                                    :options="options"
                                    :options-style="styleFunction"
                                >
                                </l-geo-json>
                            </l-map>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
import {APP_URL_BASE} from './Config/config'
export default {
    name: 'Index-Map',
    data() {
        return {
            attribution:
                'Tanah Desa Punggul &copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            center: [-8.5034572, 115.2243619],
            // enableTooltip: true, // if want show tooltip, just untag all enableTooltip
            fillColor: "#ff0000",
            geojson: null,
            url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            zoom: 14,
        }
    },
    created() {
        this.fetchSpatialData()
    },
    methods: {
        fetchSpatialData() {
            let urlspatial = `${APP_URL_BASE}/data-outlets`
            axios.get(urlspatial)
                .then(response => {
                    const spatial_data = response.data
                    this.geojson = spatial_data
                })
                .catch(error => {
                    console.log(error)
                })
        }
    },
    computed: {
        options() {
            return {
                onEachFeature: this.onEachFeatureFunction
            }
        },
        styleFunction() {
            return () => {
                return {
                    weight: 2,
                    color: "#000000",
                    opacity: 0.4,
                    fillColor: this.fillColor,
                    fillOpacity: 1
                }
            }
        },
        onEachFeatureFunction() {
        // if(!this.enableTooltip) {
        //     return () => {}
        // }
        return (feature, layer) => {
            // layer.bindTooltip(
            //     "<div class='content-over'>Nama: " +
            //         feature.properties.nama_wp +
            //     "</div><div class='content-over'>NIK: " +
            //         feature.properties.nik +
            //     "</div><div class='content-over'>Alamat Lengkap: " +
            //         feature.properties.alamat_op + ", "+feature.properties.alamat_wp +
            //     "</div><div class='content-over'>Kabupaten: " +
            //         feature.properties.kabupaten +
            //     "</div><div class='content-over'>Kecamatan: " +
            //         feature.properties.kecamatan +
            //     "</div><div class='content-over'>Desa: " +
            //         feature.properties.desa +
            //     "</div><div class='content-over'>Banjar: " +
            //         feature.properties.banjar +
            //     "</div><div class='content-over'>Status: " +
            //         feature.properties.status +
            //     "</div><div class='content-over'>NJOP: " +
            //         feature.properties.njop +
            //     "</div><div class='content-over'>BPAJB: " +
            //         feature.properties.bpajb +
            //     "</div><div class='content-over'>NIB: " +
            //         feature.properties.nib +
            //     "</div><div class='content-over'>NOP: " +
            //         feature.properties.nop +
            //     "</div><div class='content-over'>Nilai ZNT: " +
            //         feature.properties.nilai_znt +
            //     "</div><div class='content-over'>SU: " +
            //         feature.properties.su +
            //     "</div><div class='content-over'>Luas SHAT: " +
            //         feature.properties.luas_shat +
            //     "</div><div class='content-over'>Luas SPPT: " +
            //         feature.properties.luas_sppt +
            //     "</div>",
            //     { permanent: false, sticky: true }
            // )
            layer.bindPopup(
                "<div class='content-over'>Nama: " +
                    feature.properties.nama_wp +
                "</div><div class='content-over'>NIK: " +
                    feature.properties.nik +
                "</div><div class='content-over'>Alamat Lengkap: " +
                    feature.properties.alamat_op + ", "+feature.properties.alamat_wp +
                "</div><div class='content-over'>Kabupaten: " +
                    feature.properties.kabupaten +
                "</div><div class='content-over'>Kecamatan: " +
                    feature.properties.kecamatan +
                "</div><div class='content-over'>Desa: " +
                    feature.properties.desa +
                "</div><div class='content-over'>Banjar: " +
                    feature.properties.banjar +
                "</div><div class='content-over'>Status: " +
                    feature.properties.status +
                "</div><div class='content-over'>NJOP: " +
                    feature.properties.njop +
                "</div><div class='content-over'>BPAJB: " +
                    feature.properties.bpajb +
                "</div><div class='content-over'>NIB: " +
                    feature.properties.nib +
                "</div><div class='content-over'>NOP: " +
                    feature.properties.nop +
                "</div><div class='content-over'>Nilai ZNT: " +
                    feature.properties.nilai_znt +
                "</div><div class='content-over'>SU: " +
                    feature.properties.su +
                "</div><div class='content-over'>Luas SHAT: " +
                    feature.properties.luas_shat +
                "</div><div class='content-over'>Luas SPPT: " +
                    feature.properties.luas_sppt +
                "</div>",
                { permanent: false, sticky: true }
            )}
        }
    },
}
</script>