/*!
* Copyright 2020 Chandrayana Putra
*/

/* ===================================
          Table of Contents
   =================================== */

/*
01 navigation
02 Page header
03 Our Blog
04 side Bar content
05 Footer
06 Media Queries

/*Table Of Contents ends */


/*Global Styling*/

/*IMPORT GOOGLE FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,500&display=swap');
/*classes*/
.space-container{
    padding-top: 120px;
    padding-bottom: 120px;
}
.blog-sub-heading{
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    color: #DC3545;
    margin-top: 30px;
    margin-bottom: 0px;
    display: inline-block;
}
.blog-sub-heading span{
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #DC3545;
    margin-bottom: 5px;
    margin-right: 8px;
}
/*slider area*/
.slider-sec {
    min-height: 500px;
    position: relative;
    /*background-size: cover;*/
    /*background-position: center center;*/
}
.slider-sec .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 32, 34, 0.70);
}
.slider-sec .overlay h4{
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    margin-top: 7%;
}
/*search bar*/
/*.blog-content{*/
/*    padding-top: 100px;*/
/*}*/
.blog-content .side_tags .search-bar{
    background-color: rgba(225, 225, 225, 0.24);
    /*margin-top: 100px;*/
    margin-bottom: 50px;
    padding: 40px;
}
.blog-content .side_tags .search-bar form input[placeholder] {
    color: grey;
    font-size: 13px;
    font-family: "Lato Regular";
}
.blog-content .side_tags .search-bar form input{
    border-radius: 10px;
    position: relative;
    border: solid .5px #000000;
    padding: 20px;
}
.blog-content .side_tags .search-bar form span{
    position: absolute;
    right:0px;
    top:0px;
    bottom: 0px;
}
.blog-content .side_tags .search-bar form span button{
    border-radius: 10px;
    border: none;
    background-color:#000000;
    color: #FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 11;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    transition: .8s ease;
    border: solid 1px #000000;
}
.blog-content .side_tags .search-bar form:hover input{
    border:  solid .5px #000000;
}
.blog-content .side_tags .search-bar form span button:hover{
    background-color:#000000;
    cursor: pointer;
    border: solid 1px #000000;
}
.blog-content .side_tags .search-bar form span button:focus{
   outline: none;
}
/*search bar end*/

/*categories start*/
.blog-content .cat_sec{
    font-family: 'Montserrat', sans-serif;
    margin: 0.5rem;
    padding-left: 1.5rem;
    color: #000000;
}
h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    margin-bottom: 35px;
    color: #000000;
}
.blog-content .cat_sec ul{
    padding-left: 0px;
    margin-bottom: 0px !important;
    margin-right: 10px;
}
.blog-content .cat_sec ul li{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    text-overflow: ellipsis;
}
.blog-content .cat_sec ul li:last-child{
    margin-bottom: 0px;
}

.blog-content .cat_sec ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #737373;
    text-decoration: none;
    display: inline-block;
    padding-right: 8px;
    transition: .8s ease;
}
.blog-content .cat_sec ul li:hover a{
    color:#000000;
}
.blog-content .cat_sec ul li:hover{
    cursor: pointer;
}
.blog-content .cat_sec ul li .dots{
    overflow-wrap: break-word;
    white-space: nowrap;
}
.blog-content .cat_sec ul li p{
    font-family: 'Montserrat', sans-serif;
    font-weight:600;
    display: inline-block;
    float: right;
    color: red;
    padding-left: 7px;
    margin-top: 7px;
}

.blog-content .cat_sec ul li .dots:before{
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    white-space: nowrap;
    height: 2px;
    opacity: 1;
    z-index: -99999;
    line-height: 1;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top:5px;
}
.blog-content .advertisment{
    margin-bottom: 50px;
}
.blog-content .advertisment img{
    height: 100%;
    width: 100%;
}
/*categories end*/

/*popular post start*/
.blog-content .popular_posts{
   background-color: #F8F8F8;
    margin-bottom: 50px;
    padding: 40px;
}
.blog-content .popular_posts .media-box{
    margin-bottom: 20px;
    cursor: pointer;
}
.blog-content .popular_posts .media-box:hover .box-img img{
    border-radius: 30px;
}
.blog-content .popular_posts .media-box .box-img img{
    width: 100%;
    height: 100%;
    transition: .8s ease;
}
.blog-content .popular_posts .media-box .box-detail{
    padding-left: 0px;
}
.blog-content .popular_posts .media-box .box-detail h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    transition: .8s ease;
}
.blog-content .popular_posts .media-box:hover .box-detail h2{
    color:#000000;
}
.blog-content .popular_posts .media-box .box-detail p span{
    font-weight: bold;
}
.blog-content .popular_posts .media-box .box-detail p{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/*popular post end*/

/*Tags start*/
.blog-content .tags_sec{
    background-color:  #F8F8F8;
    margin-bottom: 50px;
    padding:40px;
}
.blog-content .tags_sec .tags span{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    padding: 4px 14px 3px 14px;
    border: solid 1px #000000;
    margin-right: 0px;
    margin-top: 5px;
    transition: .8s ease;
    cursor: pointer;
}
.blog-content .tags_sec .tags span:hover{
    background-color:#000000;
    color: white;
    /*background-color: #FFFFFF;*/
    box-shadow: 1px 1px 15px #e1e1e1;
    border: solid 1px #000000;
}
/*Tags end*/


/*blog-content content css strat*/
.blog-content .main_content{
    /*padding-top: 101px;*/
}
.blog-content .main_content .single_blog .single_img img{
    height: 100%;
    width: 100%;
}
.blog-content .main_content .single_blog .single_img{
    position: relative;
}
.blog-content .main_content .single_blog .single_img audio{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    background-color: #f1f3f4;
}
.blog-content .main_content .single_blog .single_detail h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.blog-content .main_content .single_blog .single_detail .blog-text{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 15px;
}

.blog-content .main_content .single_blog .single_detail .blog-text a{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    opacity: .9;
    margin-bottom: 15px;
    transition: .8s ease;
    text-decoration: none;
}
.blog-content .main_content .single_blog .single_detail .blog-text a:hover{
    color:#000000;
}
.blog-content .main_content .single_blog .single_detail .p-text{
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    opacity: .8;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: justify;

}
.blog-content .main_content .single_blog{
    transition: 1s ease;
    border-bottom: solid 1px #e1e1e1;
    mso-border-shadow: yes;
    margin-top: 60px;
    padding-bottom: 60px;
}
.blog-content .main_content .single_blog:last-child{
    border-bottom: none;
}
.blog-content .main_content .single_blog:first-child{
    margin-top: 0px;
}
.blog-content .main_content .single_blog:hover{
    cursor: pointer;
}
.blog-content .main_content .single_blog .single_detail a.our-btn{
    color:white;
    background-color:#000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 16px;
    padding: 8px 30px 8px 30px;
    border: solid 1px #000000;
    transition: .8s ease;
    text-decoration: none;
}
.blog-content .main_content .single_blog .single_detail a.our-btn:hover{
    background-color: white;
    color:#000000;

}
.blog-content .main_content .single_blog .single_img .img-gall{
    overflow: hidden;
}
.blog-content .main_content .single_blog .single_img .img-gall img{
    transition: .8s ease;
    cursor: zoom-in;
}
.blog-content .main_content .single_blog .single_img .img-gall:hover img{
    transform: scale(1.1);
}
.blog-content nav{
    /*margin-top: 50px;*/
    margin-bottom: 50px;
}
.blog-content nav ul li{
    border-radius: 50%;
    /*border: solid .5px #e1e1e1;*/
    border: none;
}
.blog-content nav ul li:first-child{
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-radius: 0px;
    border: none;
}
.blog-content nav ul li:last-child{
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-radius: 0px;
    border: none;
}
.blog-content nav ul li a{
    color:#000000;
    border-radius: 50%;
    border: solid .5px #000000;
    border:none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    margin-right: 2px;
    transition: .8s ease;
    text-decoration: none;
}

.blog-content nav ul li a.active{
    border-radius: 50%;
    color:white;
    background-color:#000000;
}
.blog-content .page-link {
    /*border:solid .5px #000000;*/
}
.blog-content li:first-child a,.blog-content li:last-child a{
    border: none;
}
.blog-content nav ul li a:hover{
    background-color:#000000;
    color: #FFFFFF;
}
.blog-content nav ul li:first-child a:hover,.blog-content nav ul li:last-child a:hover{
    background-color: transparent;
    color: #000000;
}

/*//footer*/
/*.blog-content .container{*/
/*    border-bottom: solid 1px #e1e1e1;*/
/*}*/

.mejs__container {
    background: #007bff00;
    position: absolute !important;
    bottom: 0 !important;
}


/*single Blog css*/
.blog-content .detail_img{
    position: relative;
    padding-bottom: 20px;
}
.blog-content .detail_img img{
    height: 100%;
    width: 100%;
}
.blog-content .main_content .detail_blog .blog_detail .blog-sub-heading{
    margin-top: 5px !important;
}
.blog-content .main_content .detail_blog .blog_detail h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #000000;
    letter-spacing: -1px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.blog-content .main_content .detail_blog .blog_detail .d-blog-text{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 15px;
    transition: .8s ease;
}
/*.blog-content .main_content .detail_blog .blog_detail span:hover{*/
/*    !*background-color: #e1e1e1;*!*/
/*    box-shadow: 1px 1px 8px rgba(118, 118, 118, 0.88);*/
/*    border-radius: 10px;*/

/*}*/
.blog-content .main_content .detail_blog .blog_detail span a:hover{
    color:#000000;
    /*font-weight: bold;*/
}
.blog-content .main_content .detail_blog .blog_detail span a{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: #000000;
    margin-bottom: 15px;
    transition: .8s ease;
    text-decoration: none;
}

.blog-content .main_content .detail_blog .blog_detail video{
    margin-bottom: 25px;
}
.blog-content .main_content .detail_blog .blog_detail .d-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    opacity: .8;
    letter-spacing: 1px;
    margin-bottom: 30px;
    text-align: justify;

}
.blog-content .main_content .detail_blog{
    transition: 1s ease;
    border-bottom: solid 1px #e1e1e1;
    mso-border-shadow: yes;
}

.blog-content .detail_blog ul{
    padding-left: 15px;
    margin-bottom: 40px;
}
.blog-content .detail_blog ul li{
    font-family: 'Open Sans', sans-serif;
    color: #6d6d6d;


}
.blog-content .mejs__container {
    position: relative !important;
    border: solid 1px #e1e1e1;
    left:0px;
}

.blog-content .mejs__video{
    margin-bottom: 30px;
}
.blog-content .detail_blog .qoute{
    padding: 15px 15px 15px 35px;
    border-left: solid 3px #000000;
    margin-bottom: 20px;
}
.blog-content .detail_blog .cube-sec{
    margin-bottom: 20px;
}
.blog-content .detail_blog .cube-sec img{
    height: 100%;
    width: 100%;
}
.blog-content .detail_blog .qoute .blog-sub-heading{
    margin-bottom: 20px;
}
.blog-content .detail_blog .qoute .q-name{
   font-weight: bold !important;
    font-size: 16px !important;
    color: #000000;
    font-style: italic;
}
.blog-content .detail_blog .tags span{
    display: inline-block !important;
    border: solid 1px #000000;
    padding: 8px 15px 8px 15px;
    font-size: 11px !important;
    cursor: pointer;
    transition: .8s ease;
}
.blog-content .detail_blog .tags span:hover{
    border: solid 1px #000000;
    background-color: #000000;
}
.blog-content .detail_blog .tags span a:hover{
    color:#ffffff !important;
}
.blog-content .detail_blog .tags span:hover a{
    color: #ffffff;
}
.blog-content .detail_blog .social{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.blog-content .detail_blog .social-tags span{
    display: inline-block !important;
    height: 35px;
    width: 35px;
    color:white;
    position: relative;
    transition: .9s ease;
    cursor: pointer;

}
.blog-content .detail_blog .social-tags span:hover{
    border-radius: 50%;
}
.blog-content .detail_blog .social-tags span i{
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 25%;
    font-size: 16px;
}
.blog-content .detail_blog .social-tags .fb{
    background-color:#3b5998;
    border: solid 1px #3b5998;

}
.blog-content .detail_blog .social-tags .twit{
    background-color:#55acee;
    border: solid 1px #55acee;

}
.blog-content .detail_blog .social-tags .in{
    background-color:#0077b5;
    border: solid 1px #0077b5;

}
.blog-content .detail_blog .social-tags .pin{
    background-color:#B7242a;
    border: solid 1px #B7242a;

}
.blog-content .writer-detail .post_navigation{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.blog-content .writer-detail .post_navigation a{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    /*background-color: #55acee;*/
    border: solid 1px #000000;
    text-align: center;
    margin-top: 5px;
}
.blog-content .writer-detail .post_navigation h5{
    transition: .8s ease;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.blog-content .writer-detail .post_navigation .left-row:hover h5,.blog-content .writer-detail .post_navigation .right-row:hover h5{

    cursor: pointer;
}
.blog-content .writer-detail .post_navigation .left-row .left-arr-d ,.blog-content .writer-detail .post_navigation .right-row .right-arr-d{
    transition: .8s ease-in-out;
}
.blog-content .writer-detail .post_navigation .left-row:hover .left-arr-d{
    margin-left: -10px;
}
.blog-content .writer-detail .post_navigation .right-row:hover .right-arr-d{
   padding-right: 0px;
}
.blog-content .writer-detail .post_navigation .links{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    opacity: .8;

}

.blog-content .writer-detail .post_navigation a i{
    color: #000000;
    font-size: 20px;
    transition: ease;
}
.blog-content .writer-detail .post_navigation a{
    transition: .8s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.blog-content .writer-detail .post_navigation .left-row:hover a,.blog-content .writer-detail .post_navigation .right-row:hover a{
    background-color: #000000;
}
.blog-content .writer-detail .post_navigation .left-row:hover a i,.blog-content .writer-detail .post_navigation .right-row:hover a i{
    color: #FFFFFF;
}
.blog-content .writer-detail .posted_by{
    background-color: #F8F8F8;
    padding: 50px;
    margin-bottom: 4rem;
}
.blog-content .writer-detail .posted_by span{
    font-size: 14px;
    opacity: 0.8;
    font-family: 'Montserrat', sans-serif;
    /*font-style: italic;*/
}
.blog-content .writer-detail .posted_by h5{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: .3px;
}
.blog-content .writer-detail .posted_by p{
    font-size: 16px;
    opacity: .8;
}
/*//contect form*/

.blog-content .comment-form .msg-heading span::before{
    content: "";
    /* position: absolute; */
    /* top: 53%; */
    height: 1px;
    width: 100px;
    display: inline-block;
    border-bottom: 1px solid #dedede;
    /* left: 63%; */
    margin-right: 15px;
    margin-bottom: 6px;
}
.blog-content .comment-form .msg-heading{
    position: relative;
    text-align: center;
}
.blog-content .comment-form .msg-heading span{
font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.blog-content .comment-form .msg-heading span::after{
    content: "";
    height: 1px;
    width: 100px;
    display: inline-block;
    border-bottom: 1px solid #dedede;
    margin-left: 15px;
    margin-bottom: 6px;
}
.blog-content .comment-form .my-form{
    margin-top: 4rem;
    /*margin-bottom: 4rem;*/
}
.blog-content .comment-form .my-form input{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
.blog-content .comment-form .my-form input[placeholder]{
    color: #000000;
    opacity: .8;
    font-size: 14px;
}
.blog-content .comment-form .my-form textarea{
    border-radius: 10px;
    padding: 20px;
}
.blog-content .comment-form .my-form textarea[placeholder]{
    color: #000000;
    opacity: .8;
    font-size: 14px;
}
.red-btn{
    background-color:#000000;
    color: #FFFFFF;
    padding: 8px 35px 10px 35px;
    margin-top: 30px;
    border: solid 1px #000000;
    transition: .8s ease;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.red-btn:hover{
    background-color: #FFFFFF;
    color:#000000;
}

/*relatec post css*/

.related-blog-posts{
    margin-bottom: 100px;
}
.related-blog-posts  .small-heading{
    font-size: 28px;
}
.related-blog-posts .single_blog .read-more span{
    display: inline-block;
    height: 2px;
    width: 4px;
    background-color: #000000;
    margin-right: 5px;
    transition: .8s ease;
    margin-bottom: 4px;
}
.related-blog-posts .single_blog:hover{
    cursor: pointer;
}
.related-blog-posts .single_blog .single_img{
    overflow: hidden;
}
.related-blog-posts .single_blog .single_img img{
    height: 100%;
    width: 100%;
    transition: .8s ease;
}
.related-blog-posts .single_blog:hover .single_img img{
    transform: scale(1.1);
}
.related-blog-posts .single_blog:hover .read-more span{
    width: 25px;
}
.related-blog-posts .single_blog .read-more{
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-top: 0;
    color: #000000;
    text-decoration: none;
}
.related-blog-posts .single_blog h2{
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 10px;
    color: #000000;
    transition: .8s ease;
}
.related-blog-posts .single_blog:hover h2{
    color: #000000;
}
.related-blog-posts .single_blog .small-text{
    margin-bottom: 0;
}
.related-blog-posts .single_blog .blog-text{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    text-decoration: none;
    font-size: 10px;
    font-weight: 500;
}
.related-blog-posts .single_blog .blog-text a{
    color: #000000;
    text-decoration: none;
    font-size: 10px;
}


/*media quries*/
@media screen and (max-width: 991px) {
    .blog-content {
        padding-top: 15px;
    }
}

@media screen and (max-width: 767.98px) {
    .blog-content {
        padding-top: 15px;
    }
    .blog-sub-heading span{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .blog-content .main_content .single_blog .single_detail .p-text {
        text-align: center;
    }
    .blog-content .main_content .single_blog .single_detail h2 {
        font-size: 22px;
    }
    .blog-content .main_content .single_blog .single_detail .blog-text {
        font-size: 11px;
    }
    .blog-content .main_content .single_blog .single_detail p {
        font-size: 15px;
        text-align: center;
    }
    .blog-content .main_content .single_blog .single_detail a.our-btn {
        font-size: 12px;
        margin-bottom: 25px;
    }
    .blog-content .container {
        border-bottom:none;
        /*margin-bottom: 100px;*/
    }
    .blog-content .comment-form .msg-heading span::before{
        content: "";
        position: absolute;
        top: 53%;
        height: 1px;
        width: 50px;
        display: block;
        border-bottom: 1px solid #dedede;
        left: 75%;
        margin-right: 25px;
    }
    .blog-content .comment-form .msg-heading span::after{
        content: "";
        position: absolute;
        top: 53%;
        height: 1px;
        width: 50px;
        display: block;
        border-bottom: 1px solid #dedede;
        right: 69%;
        margin-right: 25px;
    }
    /*//single blog*/
    .blog-content .main_content .detail_blog .blog_detail h2 {
        font-size: 22px;
    }
    .broad .navbar-nav .dropdown-menu{
        position: absolute;
        float: none;
        width: auto;
        margin-top: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
        border-left: solid 2px white;
    }
    .broad .dropdown-menu .dropdown-item {
        color: white !important;
        display: inline-block;
        font-weight: bold;
        transition: .5s ease;
    }
    #head-nav .dropdown-item {
        color: #000000 !important;
        font-weight: bold !important;
        transition: .5s ease;
        font-size: 13px !important;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold !important;
    }
    .dropdown-menu .dropdown-item:hover{
        background-color: transparent !important;
        color:#000000 !important;
    }
    .blog-content .comment-form .my-form {
        margin-bottom: 4rem;
    }
    .blog-content .cat_sec ul li p{
        padding-top: 7px;
    }

    @media screen and (max-width: 575px) {
        .blog-content {
            padding-top: 0;
        }
    }

}