/*-- Use For Custom Styling --*/
.pl-2rem {
    padding-left: 2rem;
}
.pl-3rem {
    padding-left: 3rem;
}
.pl-4rem {
    padding-left: 4rem;
}

/* Leaflet Map CSS Overide */
.leaflet-map{
    position: relative;
    min-height: 100vh;
}
.content-over{
    margin: 1rem;
}
.content-center {
    text-align: center;
    margin: 1rem;
    font-weight: 700;
    font-size: 18px;
}
hr.custom {
    margin-top: 1.5rem;
    height: 2px;
    border-width: 0;
    color:gray;
    background-color:gray;
}

/* Right Sidenav */
.right-sidenav {
    height: 70%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 10px;
    right: 10px;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.right-sidenav a {
    /* padding: 8px 8px 8px 32px; */
    padding: 8px 8px 8px 0;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
} 
.right-sidenav a:hover {
    color: #f1f1f1;
} 
.right-sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.content-count {
    text-align: left;
    margin: 0.5rem;
    padding-left: 1.5rem;
}
.content-text-size-small {
    font-size: 12px;
    line-height: 14px;
}
.content-text-size-large {
    font-size: 16px;
    line-height: 22px;
}
.content-text-size-huge {
    font-size: 26px;
    line-height: 34px;
}
.content-point {
    cursor: pointer;
}
/* Toggle Button Right Sidenav */
.toggle-btn-right{
    position: fixed;
    top: 15px;
    right: 25px;
    display: inline-block;
    width: 50px;
    transition: .5s ease;
    cursor: pointer;
}
.toggle-btn-right span{
    display: block;
    margin-bottom: 3px;
    height: 2px;
    background-color: #000;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    width: 100%;
}
.toggle-btn-right:hover span:first-child, .toggle-btn-right:hover span:last-child{
    width: 50%;
}
.hide-submit-button {
    position: absolute;
    top: -1000px;
}

/* Clearable text inputs */
.clearable{
    position: relative;
    display: inline-block;
}
.clearable input[type=text] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
}
.clearable__clear {
    display: none;
    position: absolute;
    right: 0; 
    top: 0;
    padding: 0 8px;
    font-style: normal;
    font-size: 2em;
    user-select: none;
    cursor: pointer;
}
.clearable input::-ms-clear {
    display: none;
}


/* Media Queries */
@media screen and (max-width: 991px) {
    .right-sidenav {
        padding-top: 15px;
        width: 70%;
    }
    .right-sidenav a {
        font-size: 14px;
    }
    .content-text-size-small {
        font-size: 10px;
        line-height: 12px;
    }
    .content-text-size-large {
        font-size: 14px;
        line-height: 20px;
    }
    .content-text-size-huge {
        font-size: 22px;
        line-height: 30px;
    }
    .card-body {
        padding: 0.25rem;
    }
    .content-over{
        margin: 10px;
    }
    .content-center {
        margin: 20px 20px 20px -20px
    }
    hr.custom {
        width: 385px;
        margin-left: -5px;
    }
    /* Table Responsive Overide */
    .mobile-responsive {
        width: 88%;
    }
    .toggle-btn-right{
        position: fixed;
        top: 15px;
        right: 10px;
        display: inline-block;
        width: 40px;
        transition: .5s ease;
        cursor: pointer;
    }
}

@media screen and (max-width: 767.98px) {
    .right-sidenav {
        padding-top: 15px;
        width: 70%;
    }
    .right-sidenav a {
        font-size: 14px;
    }
    .content-text-size-small {
        font-size: 10px;
        line-height: 12px;
    }
    .content-text-size-large {
        font-size: 14px;
        line-height: 20px;
    }
    .content-text-size-huge {
        font-size: 22px;
        line-height: 30px;
    }
    .card-body {
        padding: 0.25rem;
    }
    .content-over{
        margin: 10px;
    }
    .content-center {
        margin: 20px 20px 20px -20px
    }
    hr.custom {
        width: 385px;
        margin-left: -5px;
    }
    /* Table Responsive Overide */
    .mobile-responsive {
        width: 88%;
    }
    .toggle-btn-right{
        position: fixed;
        top: 15px;
        right: 10px;
        display: inline-block;
        width: 40px;
        transition: .5s ease;
        cursor: pointer;
    }
}

@media screen and (max-width: 575px) {
    .right-sidenav {
        padding-top: 15px;
        width: 65%;
    }
    .right-sidenav a {
        font-size: 14px;
    }
    .content-text-size-small {
        font-size: 10px;
        line-height: 12px;
    }
    .content-text-size-large {
        font-size: 14px;
        line-height: 20px;
    }
    .content-text-size-huge {
        font-size: 22px;
        line-height: 30px;
    }
    .card-body {
        padding: 0.25rem;
    }
    .content-over{
        margin: 10px;
    }
    .content-center {
        margin: 20px 20px 20px -60px
    }
    hr.custom {
        width: 340px;
        margin-left: -5px;
    }
    /* Table Responsive Overide */
    .mobile-responsive {
        width: 79%;
    }
    .toggle-btn-right{
        position: fixed;
        top: 15px;
        right: 10px;
        display: inline-block;
        width: 40px;
        transition: .5s ease;
        cursor: pointer;
    }
}