/*!
* Copyright 2020 Chandrayana Putra
*/

/* ===================================
    Table of Content
====================================== */


/*  - Fonts
    - Map
    - Footer
    - Loader
    - Media Queries   */


/* Default Red Color */
/* #dc3545; */

/* ===================================
    Google font
====================================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500,700&display=swap');
body{
    font-family: Montserrat , sans-serif;
}

/* ===================================
    Scrollbar
====================================== */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    width: 12px;
    background:white;
    border-left: 0px solid white;
    border-right: 0px solid white;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.53);
    width: 0;
    height: 25%;
}

/* ===================================
    Loader css
====================================== */
/*Loader*/
#loader {position: fixed;
    width: 100%;
    height: 100vh;
    background: #FFFFFF;
    z-index: 999;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.inner {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    -webkit-animation: rotate-one 1s linear infinite;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #000000;
}

.inner.two {
    right: 0%;
    top: 0%;
    -webkit-animation: rotate-two 1s linear infinite;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #dc3545;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    -webkit-animation: rotate-three 1s linear infinite;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #b09976;
}

@-webkit-keyframes rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-one {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@-webkit-keyframes rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
/* ===================================
    General
====================================== */
.parallax-disable{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.black-btn{
    font-family: Montserrat , sans-serif;
    background-color: #000000;
    padding: 8px 25px;
    border-radius: 0;
    color: #FFFFFF;
    font-size: 14px;
    border:solid 1px #000000;
    transition: .8s ease;
    text-decoration: none;
}
.black-btn:hover{
    background-color: transparent;
    color: #000000;


}

/* ===================================
        side-nav css
====================================== */
.side-nav{
    width: 5%;
    /* width: 9.1%; */
    display: inline-block;
    /* float: left; */
    background-color: #dc3545;
    position: fixed;
    z-index: 111;
}

.content-area{
    width: 95%;
    margin-left: 5%;
    display: inline-block;
    float: left;
}
.side-nav .navbar-brand{
    padding:20px 12px;
    margin-right: 0;
    height: 20vh;
    cursor: pointer;
}
.side-nav .navbar-links{
    height: 80vh;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.side-nav .side-nav-icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    text-align: center;
}
.side-nav .side-nav-icons li{
    list-style: none;
}
.side-nav .side-nav-icons li a{
    text-decoration: none;
}
.side-nav .side-nav-icons li a i{
    height: 40px;
    width: 40px;
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}
.side-nav .side-nav-icons li a i:hover{
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #000000;
}
.toggle-btn{
    display: inline-block;
    width: 23px;
    margin-top: 30px;
    transition: .5s ease;
    cursor: pointer;
}
.toggle-btn span{
    display: block;
    margin-bottom: 3px;
    height: 2px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    transition: .5s ease;
    width: 100%;
}
.toggle-btn:hover span:first-child, .toggle-btn:hover span:last-child{
    width: 50%;
}
/* ===================================
        side menu css
====================================== */
.side-menu {
    width: 28%;
    position: fixed;
    left: 4%;
    top: 0;
    /* background: #dc3545; */
    background: #a81423;
    z-index: 11;
    height: 100%;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform .5s ease;
    transition: -webkit-transform .5s ease;
    -o-transition: -o-transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
    -webkit-transition:transform .5s ease;
    overflow: hidden;
}
.side-menu.left {
    right: 0; left: auto;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.side-menu.before-side {
    width: 280px;
}
.side-menu.side-menu-active,
.side-menu.before-side{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.pul-menu .side-menu.side-menu-active {
    visibility: visible; opacity: 1;
}
.side-menu .navbar-brand {
    margin: 0 0 2.5rem 0;
}

/*Side overlay*/
#close_side_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -webkit-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    -o-transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition: opacity 300ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
    display: none;
    z-index: 1031;
    opacity: 0.4;
}

/*side clode btn*/
.side-menu .btn-close {
    height: 33px;
    width: 33px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 17px;
    right: 17px;
    cursor: pointer;
}
.side-menu.before-side .btn-close{
    display: none;
}
.side-menu .btn-close::before, .side-menu .btn-close::after {
    position: absolute;
    left: 16px;
    content: ' ';
    height: 24px;
    width: 2px;
    background: #fff;
    top: 5px;
}
.side-menu .btn-close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.side-menu .btn-close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*side open btn*/




.side-menu .inner-wrapper {
    padding: 3.5rem 3rem 3.5rem 3rem;
    height: 100%;
    position: relative;
    overflow-y: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.pul-menu.pushwrap .side-menu .inner-wrapper{
    padding: 3.5rem 2.5rem;
}
.side-menu .side-nav-menu {
    margin-bottom: 30px;
    display: block;
}
.side-nav-menu .navbar-nav .nav-item{
    display: block;
    margin: 10px 0; padding: 0 !important;
    opacity: 0;
    -webkit-transition: all 0.8s ease 500ms;
    -o-transition: all 0.8s ease 500ms;
    transition: all 0.8s ease 500ms;

    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px);
}
.side-nav-menu .navbar-nav .nav-item:first-child {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(2){
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(3) {
    -webkit-transition-delay: .3s;
    -o-transition-delay: .3s;
    transition-delay: .3s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(4) {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(5) {
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(6) {
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s;
    transition-delay: .6s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(7) {
    -webkit-transition-delay: .7s;
    -o-transition-delay: .7s;
    transition-delay: .7s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(8) {
    -webkit-transition-delay: .8s;
    -o-transition-delay: .8s;
    transition-delay: .8s;
}
.side-nav-menu .navbar-nav .nav-item:nth-child(9) {
    -webkit-transition-delay: .9s;
    -o-transition-delay: .9s;
    transition-delay: .9s;
}
.side-menu.side-menu-active .side-nav-menu .navbar-nav .nav-item {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
.side-nav-menu .navbar-nav .nav-link {
    display: inline-table;
    color: #FFFFFF;
    padding: 2px 0 3px 0 !important;
    font-size: 1.5rem;
    font-weight: 300;
    line-height: normal;
    position: relative;
    border-radius: 0;
    text-decoration: none;
}
.side-nav-menu .navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    background: #FFFFFF;
    display: inline-block;
    width: 0;
    height: 3px;
    bottom: 0; left: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    -o-transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.side-nav-menu .navbar-nav .nav-link:hover::after,
.side-nav-menu .navbar-nav .nav-link:focus::after,
.side-nav-menu .navbar-nav .nav-link.active::after {
    width: 100%;
}
.side-nav-menu .navbar-nav .nav-link.active {
    background: transparent;
}
.side-menu p{
    margin-top: .5rem;
    margin-bottom: 0;
}
@-webkit-keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes animationFade {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.side-menu .side-footer{}
.side-menu .side-footer .rites{
    color: #FFFFFF;
    font-weight: 300;
}
/* ===================================
        map sec
====================================== */
.google-map{
    min-height: 100vh;
}
.map-content-area{
    padding: 5px;
}
.map-content-area h4{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 18px;
    text-align: center;
}
.map-content-area span{
    display: block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 14px;
}
.gm-ui-hover-effect{
    top: 0 !important;
    right: 0 !important;
}
.map-content-area span i{
    margin-left: 30px;
    float: right;
    font-style: normal;
}
.map-content-area span.infected{
    color: #000000;
}
.map-content-area span.recovered{
    color: #029215;
}
.map-content-area span.deadth{
    color: red;
}



/***********************************/
/********standalone page css********/
/***********************************/
.slider-sec {
    min-height:400px;
    position: relative;
}
.slider-sec .overlay{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(20, 32, 34, 0.60);
}
.slider-sec .overlay h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 38px;
    color: #FFFFFF;
    margin-top: 10%;
    margin-bottom: 10px;
}
.crumbs{
    position: relative;
}
.crumbs .breadcrumb-items{
    display: inline-block;
}
.crumbs .breadcrumb{
    margin-bottom: 0;
    border-radius: 0;
    padding: 15px 50px;
    background-color: transparent;
}
.breadcrumb-item+.breadcrumb-item::before {
    color: #FFFFFF;
}
.crumbs .breadcrumb li a{
    color: #FFFFFF;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
.crumbs .breadcrumb li a:hover{
    /*color: #000000;*/
}
/*crumbs end*/

.standalone-row .stand-img-des{
    padding-left: 30px;
    text-align: center;
}
.standalone-row:nth-child(2) .stand-img-des{
    padding-left: 0;
    padding-right: 30px;
}
.standalone-detail .sub-heading{
    color: #DC3545;
    margin-bottom: 20px;
}
.standalone-area .sub-heading{
    color: #dc3545;
    margin-bottom: 8px;
}
.standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    font-family: Montserrat , sans-serif;
}

.standalone-detail .para_text{
    color: #000000;
    font-weight: 500;
    font-family: Montserrat , sans-serif;
    text-align: center;
    font-size: 15px;
    margin: 0 auto;
    opacity: .8;
    line-height: 2.1;
}
.standalone-detail{
    padding-bottom: 100px;
}
.standalone-area .gradient-text1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 12px;
}
.standalone-area .stand-img-des .para_text{
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: 300;
    opacity: .8;
}

/* ===================================
   Contact us page css start
====================================== */

.contact-us-sec{
    padding-bottom: 50px;
}
.contact-us-sec .contact-details{
    padding-bottom: 50px;
}
.contact-us-sec .contact-sub-heading,.contact-us-form .contact-sub-heading{
    color: #DC3545;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: 20px;

}
.contact-us-sec .contact-details .main-heading{
    color: #000000;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.contact-us-sec .contact-details .contact-address{
    font-size: 14px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}
.contact-us-sec .contact-details .contact-list{
    padding-left: 0;
}
.contact-us-sec .contact-details .contact-list li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    list-style: none;
}
.contact-us-sec .contact-details .contact-list li span{
    font-weight: 400;
}
.contact-us-sec .contact-details .contact-list li:nth-child(even){
    margin-bottom: 20px;
}
.contact-us-sec .contact-details .contact-list li:last-child{
    margin-bottom: 50px;
}
.contact-us-sec .contact-details .contact-s-media{
    padding-left: 0;
    margin-bottom: 0;
    right: auto;
    left: -10px;
}
.contact-us-sec .contact-details .contact-s-media li {
    list-style: none;
    margin-right: 18px;
    display: inline-block;
}
.contact-us-sec .contact-details .contact-s-media li:last-child {
    margin-right: 0;
}
.contact-us-sec .contact-details .contact-s-media li a{
    color: black;
}
.contact-us-sec .contact-details .contact-s-media li a i{
    font-size: 18px;
    transition: .8s ease;
}
.contact-us-sec .contact-details .page-footer{
    left: calc(50% - 125px);
}
.contact-us-form .my-form{
    position: relative;
}

.contact-us-form .my-form input{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
.contact-us-form .my-form input[placeholder]{
    color: #444444;
    opacity: .8;
    font-size: 14px;
}
.contact-us-form .my-form textarea{
    border-radius: 10px;
    padding: 20px;
}
.contact-us-form .my-form textarea[placeholder]{
    color: #444444;
    opacity: .8;
    font-size: 14px;
}
.display-error{
    position: absolute;
    top:-45px;
    left:15px;
    right: 15px;
}

.contact-page .contact-list li:nth-child(2),.contact-page .contact-list li:nth-child(3){
    display: inline-block;
}
.contact-page .contact-list li:nth-child(2){
    margin-right: 8px;
}
.contact-page .contact-list li:nth-child(even){
    margin-bottom: 0 !important;
}

/* ===================================
   Contact us page css end
====================================== */

/* ===================================
    About Us page css
====================================== */
/* ===================================
    Services section css
====================================== */
.services-sec{

}
.services-sec .services-details .sub-heading{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #DC3545;
    margin-bottom: 50px;
}
.services-sec .services-details .sub-heading span{
    display: block;
    width: 30px;
    height: 2px;
    background-color: #DC3545;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.services-sec .services-details .heading{
    font-size:30px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 50px;
}
.services-sec .services-details .detail-text{
    font-family: Montserrat , sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #000000;
    opacity: .7;
    margin-bottom: 40px;
}

.services-sec .our-services{
    padding-top: 70px;
    overflow: hidden;
    padding-bottom: 10px;

}
.services-sec .our-services .service-card{
    padding: 30px 20px;
    transition: .8s ease;
}

.services-sec .our-services .service-card .image-holder{
    margin-bottom: 30px;
}
.services-sec .our-services .service-card .image-holder i{
    font-size: 50px;
    font-weight: 300;
    transition: .8s ease;

}
.services-sec .our-services .service-card .service-card-heading{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 20px;
    transition: .8s ease;
}
.services-sec .our-services .service-card .service-card-detail {
    font-family: Montserrat , sans-serif;
    font-weight: lighter;
    font-size: 15px;
    color: #000000;
    opacity: .7;
}

.services-sec .our-services a{
    text-decoration: none;
    color: #000000;
}
.services-sec .our-services .service-card:hover{
    border-radius: 20px;
    box-shadow: 0 0 15px #e1e1e1;
    cursor: pointer;

}
.services-sec .our-services .service-card:hover .service-card-heading{
    color: #DC3545;
}
.services-sec .our-services .service-card:hover .image-holder{
    animation: .8s rotateIn;
}


/* ===================================
       Testimonial css
====================================== */
.testimonial-sec{
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonial-sec .overlay-test{
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
}
.testimonial-sec .testimonial-card{
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
}
.testimonial-sec .testimonial-heading .sub-heading{
    color: #DC3545;
}
.testimonial-sec .testimonial-heading .large-heading{
    color: #FFFFFF;
}
.testimonial-sec .testimonial-review{
    margin-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
}
.testimonial-sec .testimonial-review .client-info{
    margin-bottom: 30px;
}
.testimonial-sec .testimonial-review .client-info .client-name{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #DC3545;
    margin-bottom: 0;
}
.testimonial-sec .testimonial-review .client-info .client-designation{
    color: #FFFFFF;
}
.testimonial-sec .testimonial-review .image-holder{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: inline-block;
    /*box-shadow: 1px 1px 15px #DC3545;*/
    -webkit-box-shadow: 1px 1px 15px #d8dce0;
    box-shadow: 1px 1px 15px #d8dce0;
    margin-bottom: 30px;
    border: solid 3px #fff;
}
.testimonial-sec .testimonial-review .image-holder img{
    border-radius: 50%;
}
.testimonial-sec .testimonial-review .review-detail .text-des{
    color: #FFFFFF;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review{
    padding-left: 0;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review li{
    list-style: none;
    display: inline-block;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review li i{
    font-size: 20px;
    color: #FFF;
}
.testimonial-sec .owl-carousel .owl-dots{
    position: absolute;
    left: 8px;
    /*transform: rotate(90deg);*/
    bottom: 50%;
}
.testimonial-sec .owl-carousel .owl-nav button.owl-next,.testimonial-sec .owl-carousel .owl-nav button.owl-prev,.testimonial-sec .owl-carousel button.owl-dot {
    height: 12px;
    width: 12px;
    border: solid 3px #DC3545;
    margin-bottom: 10px;
    border-radius: 50%;
    -webkit-box-shadow: 1px 1px 10px #DC3545;
    box-shadow: 1px 1px 10px #DC3545;
    display: block;
}
.testimonial-sec .owl-carousel button.owl-dot.active{
    background-color: rgba(253, 41, 92, 0.79);
    border: solid 3px #ffffff;
}
/* ===================================
   Footer
====================================== */
.footer-sec{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f9f9f9;
}
.footer-social ul{
    margin: 0;
    padding: 0;
}

.footer-social li{
    display: inline-block;
}

.footer-social a {
    color: #000000;
    text-decoration: none;
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50px;
    font-size: 17px;
    margin: 10px 5px;
    border: 1px solid transparent;
    -webkit-transition: background-color .2s ease-in-out;
    -moz-transition: background-color .2s ease-in-out;
    -ms-transition: background-color .2s ease-in-out;
    -o-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}

.footer-social li a:hover{
    background-color:#000000;
    color: #ffffff;
}
.footer-sec .company-about{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}
.footer-sec .company-about a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}



/* ===================================
    Media Queries
   ====================================== */


@media screen and (max-width:991px){

    .standalone-row:not(:last-child) {
        margin-bottom: 3rem;
    }
    .white-bg{
        background-color: #FFFFFF !important;
    }
    .upper-nav{
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .header-appear{
        padding-top: 6px;
        height: 70px;
        position: fixed;
        z-index: 99;
        background: #000000;
        -webkit-animation-name: animationFade;
        animation-name: animationFade;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
        box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.35);
    }

    .upper-nav-btn {
        margin-top: 12px;
    }
    .upper-nav-btn span{
        background-color: #000000;
    }
    .side-menu {
        left: 0;
        width: 100%;
    }
    .upper-nav .navbar-brand{
        width: 35px;
    }
    .gm-fullscreen-control{
        display: none !important;
    }
    .side-menu .side-footer .rites {
        font-size: 14px;
    }
    .side-menu .inner-wrapper {
        padding: 2.5rem 3rem 2.5rem 3rem;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }

    .standalone-area .sub-heading {
        margin-top: 20px;
    }

    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }

    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
}


@media screen and (max-width:767px){
    .side-nav{
        width: 0;
        display: none;
    }

    .content-area{
        width: 100%;
        margin-left: 0;
        display: block;
    }
    /*footer*/
    .footer-social a {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    /***********************************/
    /********standalone page css********/
    /***********************************/
    .standalone-row:not(:last-child) {
        margin-bottom: 8rem;
    }
    .standalone-area .sub-heading{
        margin-top: 20px;
    }
    .standalone-row:nth-child(2) .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }
    .standalone-row .stand-img-des {
        padding-left: 18px;
        padding-right: 18px;
    }

    .testimonial-sec .testimonial-review {
     padding-left: 0px;
     padding-right: 0px;
}


    /***********************************/
    /**************services*************/
    /***********************************/
    .services-sec {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services-sec .services-details .sub-heading {
        margin-bottom: 20px;
    }
    .services-sec .services-details .heading {
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .services-sec .our-services .service-card {
        margin-bottom: 20px;
    }
    .services-sec .our-services>div:last-child .service-card {
        margin-bottom: 0;
    }




}